body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(0, 100, 0), rgb(0, 150, 0), rgb(0, 200, 0), rgb(0, 250, 0));
    color: white;
    
}
