header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-top: 10px;
}

header img {
    width: 300px;
    padding: 10px;
}
