main {
    margin-top: 110px;
    margin-bottom: 20px;
    padding: 0px 40px;

}

main span {
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    line-height: 25px;

}

main a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 5px;
    border-radius: 8px;
    color: white;
}

#servicos ul {
    display: block;


}

#servicos li {
    color: black;
    margin-top: 10px;
    list-style: none;
    text-align: start;
    background-color: rgba(255, 68, 0, 0.475);
    border-radius: 5px;
    padding: 5px;
    animation: lista 2s ease;
    -webkit-animation: lista 2s ease;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;



}

@keyframes lista {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
    }
}

#imagens-group {
    margin: 10px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#imagens-group img {
    box-shadow: 0px 0px 10px 1px black;
    margin-bottom: 30px;
    animation: image 2ms ease-in-out;
    -webkit-animation: image 2s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

@keyframes image {
    from {
        translate: 1000vw;
        opacity: 0;

    }

    to {
        opacity: 1;
    }

}

button {
    width: 70%;
    padding: 10px;
    margin: 5%;
    border-radius: 8px;
    border: none;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 1px black;

    animation-name: btn;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(50, start);
}

@keyframes btn {

    10% {
        background-color: orangered;
        color: white;
        scale: 1.09;
    }



}